In [5]:
import pandas as pd
df = pd.read_csv('diamonds.csv')
print(df)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

In [6]:
finding_category_count = df['cut'].value_counts()
print(finding_category_count)

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [7]:
finding_category_count_total = df['cut'].value_counts().sum()
print(finding_category_count_total)

53940

In [9]:
unique_category_names = df['cut'].unique()
print(unique_category_names)

['Ideal' 'Premium' 'Good' 'Very Good' 'Fair']

In [10]:
total_unique_category_names = df['cut'].nunique()
print(total_unique_category_names)

5

In [11]:
df['cut'] = df['cut'].map({"Ideal":0,"Fair":1,"Good":2,"Very Good":3,"Premium":4})
print(df)

       Unnamed: 0  carat  cut color clarity  depth  table  price     x     y  \
0               1   0.23    0     E     SI2   61.5   55.0    326  3.95  3.98
1               2   0.21    4     E     SI1   59.8   61.0    326  3.89  3.84
2               3   0.23    2     E     VS1   56.9   65.0    327  4.05  4.07
3               4   0.29    4     I     VS2   62.4   58.0    334  4.20  4.23
4               5   0.31    2     J     SI2   63.3   58.0    335  4.34  4.35
...           ...    ...  ...   ...     ...    ...    ...    ...   ...   ...
53935       53936   0.72    0     D     SI1   60.8   57.0   2757  5.75  5.76
53936       53937   0.72    2     D     SI1   63.1   55.0   2757  5.69  5.75
53937       53938   0.70    3     D     SI1   62.8   60.0   2757  5.66  5.68
53938       53939   0.86    4     H     SI2   61.0   58.0   2757  6.15  6.12
53939       53940   0.75    0     D     SI2   62.2   55.0   2757  5.83  5.87

          z
0      2.43
1      2.31
2      2.31
3      2.63
4      2.75
...     ...
53935  3.50
53936  3.61
53937  3.56
53938  3.74
53939  3.64

[53940 rows x 11 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder
print(df['color'])
print("********")
label_encoder_object = LabelEncoder()
df['color'] = label_encoder_object.fit_transform(df['color'])
print(df['color'])

0        E
1        E
2        E
3        I
4        J
        ..
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, Length: 53940, dtype: object
********
0        1
1        1
2        1
3        5
4        6
        ..
53935    0
53936    0
53937    0
53938    4
53939    0
Name: color, Length: 53940, dtype: int64

In [13]:
print(label_encoder_object.classes_)

['D' 'E' 'F' 'G' 'H' 'I' 'J']

In [14]:
print(label_encoder_object.transform(label_encoder_object.classes_))

[0 1 2 3 4 5 6]