In [1]:
import pandas as pd
df = pd.read_csv('heights.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [2]:
df.shape

(10000, 3)

In [ ]:
Detecting Outlier

In [6]:
max_threshold=df['Height'].quantile(0.95)
max_threshold

np.float64(72.61710606642384)

In [ ]:
df[df['Height