In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer, LabelEncoder


df=pd.read_csv('loan_approval_data_2025.csv')
print(df)

column = df.columns
print(column)

numeric_column = []
non_numeric_column = []

for col in column:
    if df[col].dtype == 'O':
        non_numeric_column.append(col)
    else:
        numeric_column.append(col)

print(numeric_column)
print(non_numeric_column)

      customer_id  age occupation_status  years_employed  annual_income  \
0      CUST100000   40          Employed            17.2          25579
1      CUST100001   33          Employed             7.3          43087
2      CUST100002   42           Student             1.1          20840
3      CUST100003   53           Student             0.5          29147
4      CUST100004   32          Employed            12.5          63657
...           ...  ...               ...             ...            ...
49995  CUST149995   35          Employed             4.3          39449
49996  CUST149996   34          Employed             4.4          20496
49997  CUST149997   41     Self-Employed             4.8          18743
49998  CUST149998   38           Student             0.4          17250
49999  CUST149999   53          Employed            17.2          46923

       credit_score  credit_history_years  savings_assets  current_debt  \
0               692                   5.3             895         10820
1               627                   3.5             169         16550
2               689                   8.4              17          7852
3               692                   9.8            1480         11603
4               630                   7.2             209         12424
...             ...                   ...             ...           ...
49995           570                  16.3            1127          7576
49996           672                  12.6            1478          6276
49997           719                  10.1              17         10331
49998           633                   1.3               5          7779
49999           695                  15.0            8332          2655

       defaults_on_file  delinquencies_last_2yrs  derogatory_marks  \
0                     0                        0                 0
1                     0                        1                 0
2                     0                        0                 0
3                     0                        1                 0
4                     0                        0                 0
...                 ...                      ...               ...
49995                 0                        0                 0
49996                 1                        0                 0
49997                 0                        0                 0
49998                 0                        0                 1
49999                 0                        1                 0

        product_type         loan_intent  loan_amount  interest_rate  \
0        Credit Card            Business          600          17.02
1      Personal Loan    Home Improvement        53300          14.10
2        Credit Card  Debt Consolidation         2100          18.33
3        Credit Card            Business         2900          18.74
4      Personal Loan           Education        99600          13.92
...              ...                 ...          ...            ...
49995    Credit Card           Education        42800          21.31
49996    Credit Card            Personal         3800          18.07
49997    Credit Card            Personal        18000          17.45
49998  Personal Loan            Personal         1400          14.71
49999  Personal Loan            Personal        41000          12.39

       debt_to_income_ratio  loan_to_income_ratio  payment_to_income_ratio  \
0                     0.423                 0.023                    0.008
1                     0.384                 1.237                    0.412
2                     0.377                 0.101                    0.034
3                     0.398                 0.099                    0.033
4                     0.195                 1.565                    0.522
...                     ...                   ...                      ...
49995                 0.192                 1.085                    0.362
49996                 0.306                 0.185                    0.062
49997                 0.551                 0.960                    0.320
49998                 0.451                 0.081                    0.027
49999                 0.057                 0.874                    0.291

       loan_status
0                1
1                0
2                1
3                1
4                1
...            ...
49995            0
49996            0
49997            0
49998            0
49999            1

[50000 rows x 20 columns]
Index(['customer_id', 'age', 'occupation_status', 'years_employed',
       'annual_income', 'credit_score', 'credit_history_years',
       'savings_assets', 'current_debt', 'defaults_on_file',
       'delinquencies_last_2yrs', 'derogatory_marks', 'product_type',
       'loan_intent', 'loan_amount', 'interest_rate', 'debt_to_income_ratio',
       'loan_to_income_ratio', 'payment_to_income_ratio', 'loan_status'],
      dtype='object')
['age', 'years_employed', 'annual_income', 'credit_score', 'credit_history_years', 'savings_assets', 'current_debt', 'defaults_on_file', 'delinquencies_last_2yrs', 'derogatory_marks', 'loan_amount', 'interest_rate', 'debt_to_income_ratio', 'loan_to_income_ratio', 'payment_to_income_ratio', 'loan_status']
['customer_id', 'occupation_status', 'product_type', 'loan_intent']

In [ ]:
null_check = df.isnull()
print(null_check)

In [ ]:
finding_null = df.isnull().sum()
print(finding_null)

In [ ]:
total_null = df.isnull().sum().sum()
print(total_null)

In [ ]:
df.dropna(inplace=True)

In [ ]:
# """Below code is for filling the null value"""
# null_check = df.isnull()
# print(null_check)

In [ ]:

#below code is to fill the generic values
#df.fillna(1000, inplace=True)

In [ ]:
"""below code is to fill specific value (forward filling- if a row exist earlier to this row that value will be filled in below row)"""
df.ffill(inplace=True)

In [ ]:

"""below code is to fill specific value (backward filling- if a row exist below to this row that value will be filled in above row)"""
#df.bfill(inplace=True)

In [ ]:

"""Filling the empty cells with specific data on certain columns"""
#df['carat'] = df['carat'].fillna(0.25)

In [ ]:

"""Filling the empty cells with specific data on multiple columns with calculation"""
#df[['carat','cut']] = df[['carat','cut']].fillna(df['price'].mean())

In [ ]:
simple_imputer_object = SimpleImputer()
df['price'] = simple_imputer_object.fit_transform(df[['price']])

print(df)

print('*************')

finding_null = df.isnull().sum()
print(finding_null)

In [ ]:
finding_category_count = df['cut'].value_counts()
print(finding_category_count)

In [ ]:
finding_category_count_total = df['cut'].value_counts().sum()
print(finding_category_count_total)

In [ ]:
unique_category_names = df['cut'].unique()
print(unique_category_names)

In [ ]:
total_unique_category_names = df['cut'].nunique()
print(total_unique_category_names)

In [ ]:
df['cut'] = df['cut'].map({"Ideal":0,"Fair":1,"Good":2,"Very Good":3,"Premium":4})
print(df)

In [ ]:
print(df['color'])
print("********")
label_encoder_object = LabelEncoder()
df['color'] = label_encoder_object.fit_transform(df['color'])
print(df['color'])

In [ ]:
print(label_encoder_object.classes_)

In [ ]:
print(label_encoder_object.transform(label_encoder_object.classes_))

In [ ]:
class_label = label_encoder_object.classes_
class_label_number = label_encoder_object.transform(label_encoder_object.classes_)
testing_mapping = dict(zip(class_label, class_label_number))
print(testing_mapping)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
print(df['color'])
print("********")
ordinal_encoder_object = OrdinalEncoder()
df['color'] = ordinal_encoder_object.fit_transform(df[['color']])
print(df['color'])