In [2]:
import pandas as pd
df = pd.read_csv("loan_approval_data_2025.csv")

In [3]:
df.info()
df.describe(include='all')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  object
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  object
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(10), object(4)
memory usage: 7.6+ MB

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1

Considering the below aspects based on the above line:
Numerical: income, loan_amount, credit_score, dti, interest_rate
Categorical: employment_type, loan_purpose, education, home_ownership
Binary categorical: bankruptcies, default_history
Dates: application_date, approval_date
Text fields: employer_name, address
Target: loan_status (Approved/Rejected)

In [5]:
df.isnull().sum()
#no null values are identified, so proceeding with the next step
# If i come across any null values then I would be using the below steps:
# df.dropna(inplace=True)
#below code is to fill the generic values
#df.fillna(1000, inplace=True)
"""below code is to fill specific value (forward filling- if a row exist earlier to this row that value will be filled in below row)"""
# df.ffill(inplace=True)
"""below code is to fill specific value (backward filling- if a row exist below to this row that value will be filled in above row)"""
#df.bfill(inplace=True)
"""Filling the empty cells with specific data on certain columns"""
#df['current_debt'] = df['carat'].fillna(0.25)
"""Filling the empty cells with specific data on multiple columns with calculation"""
#df[['customer_id','age']] = df[['customer_id','age']].fillna(df['loan_status'].mean())
#Simple Imputer can also be implemented for null values

# num_imputer = SimpleImputer(strategy='median')
# df[numerical_cols] = num_imputer.fit_transform(df[numerical_cols])
#Simple Imputer for Categorical values

# cat_imputer = SimpleImputer(strategy='most_frequent')
# df[categorical_cols] = cat_imputer.fit_transform(df[categorical_cols])

customer_id                0
age                        0
occupation_status          0
years_employed             0
annual_income              0
credit_score               0
credit_history_years       0
savings_assets             0
current_debt               0
defaults_on_file           0
delinquencies_last_2yrs    0
derogatory_marks           0
product_type               0
loan_intent                0
loan_amount                0
interest_rate              0
debt_to_income_ratio       0
loan_to_income_ratio       0
payment_to_income_ratio    0
loan_status                0
dtype: int64

Null data is completed. Going ahead with Encoding of categorical data
Below are the data that need to be worked on

In [ ]:
Numerical: income, loan_amount, credit_score, dti, interest_rate
Categorical: employment_type, loan_purpose, education, home_ownership
Binary categorical: bankruptcies, default_history
Dates: application_date, approval_date
Text fields: employer_name, address
Target: loan_status (Approved/Rejected)